In [1]:
# 인터넷 연결
# trml 문서 받아와서 분석

import requests
from bs4 import BeautifulSoup # bs4 안에 BeautifulSoup만 임포트

In [40]:
def get_price(company_code) : #함수 정의
    url = "https://finance.naver.com/item/main.nhn?code="+company_code # =" 사이에 공백이 있으면 안된다.
    print("url: " , url)
    
    result = requests.get(url)
    #print("result: " , result)
    
    bs_obj = BeautifulSoup(result.content, "html.parser")
    #print("html: ",bs_obj) 
    
    no_today = bs_obj.find("p",{"class":"no_today"})
    blind_now = no_today.find("span",{"class":"blind"})
    
    
    all_td = bs_obj.find("td",{"class":"first"})
    first = all_td.find("span",{"class":"blind"})
    
    print(company_code , "의 시가: " , blind_now.text,", 전일가 : ",first.text)

In [31]:
get_price("005930")

url:  https://finance.naver.com/item/main.nhn?code=005930
result:  <Response [200]>
005930 의 최종 결과 값 :  43,800

In [32]:
get_price("035420")

url:  https://finance.naver.com/item/main.nhn?code=035420
result:  <Response [200]>
035420 의 최종 결과 값 :  133,000

In [33]:
get_price("068270")

url:  https://finance.naver.com/item/main.nhn?code=068270
result:  <Response [200]>
068270 의 최종 결과 값 :  206,000

In [34]:
company_codes = ["005930","035420","068270","122870","030200"]

In [35]:
company_codes

['005930', '035420', '068270', '122870', '030200']

In [36]:
for code in company_codes:
    print(code)

005930
035420
068270
122870
030200

In [37]:
for code in company_codes:
    get_price(code)

url:  https://finance.naver.com/item/main.nhn?code=005930
result:  <Response [200]>
005930 의 최종 결과 값 :  43,800
url:  https://finance.naver.com/item/main.nhn?code=035420
result:  <Response [200]>
035420 의 최종 결과 값 :  133,000
url:  https://finance.naver.com/item/main.nhn?code=068270
result:  <Response [200]>
068270 의 최종 결과 값 :  206,000
url:  https://finance.naver.com/item/main.nhn?code=122870
result:  <Response [200]>
122870 의 최종 결과 값 :  43,250
url:  https://finance.naver.com/item/main.nhn?code=030200
result:  <Response [200]>
030200 의 최종 결과 값 :  27,750

In [38]:
company_list=['삼성전자','NAVER','셀트리온','와이지엔터테인먼트','KT']

In [41]:
i = 0
for code in company_codes:
    print(company_list[i])
    get_price(code)
    i = i+1

삼성전자
url:  https://finance.naver.com/item/main.nhn?code=005930
005930 의 시가:  43,800 , 전일가 :  44,450
NAVER
url:  https://finance.naver.com/item/main.nhn?code=035420
035420 의 시가:  133,000 , 전일가 :  138,500
셀트리온
url:  https://finance.naver.com/item/main.nhn?code=068270
068270 의 시가:  206,000 , 전일가 :  207,000
와이지엔터테인먼트
url:  https://finance.naver.com/item/main.nhn?code=122870
122870 의 시가:  43,250 , 전일가 :  40,750
KT
url:  https://finance.naver.com/item/main.nhn?code=030200
030200 의 시가:  27,750 , 전일가 :  27,900